:root {

  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {

  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: 20px;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 170vh;
  @include scrollbars(10px, #03101c, #254f7d);
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  height: 160vh;
  background-image: url(../public/retro-living-room-interior-design.jpg);
  background-size: 215vh 100vh;
  position: fixed;

  .container {
    width: 90%;
    height: 80vh;
    background: linear-gradient(80deg, rgb(51, 100, 133), rgb(8, 29, 50));
    border-radius: 50px;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;

    .navBar {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      position: fixed;
      width: 100%;

      .bar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        ul {
          list-style: none;
          display: flex;
          gap: 20px;
          align-items: center;
        }

        ul:first-of-type {
          margin-left: 50px;
        }

        ul:nth-of-type(2) {

          #icon {
            img {
              width: 35px;
            }
          }
        }

        select {
          margin-right: 50px;
          border: none;
          background: transparent;
          padding: 4px 10px;
          margin: 0px 0;
          cursor: pointer;
          border-radius: 10px;
          -moz-appearance: transparent;
          -o-appearance: transparent;
          -webkit-appearance: transparent;
          appearance: transparent;

          &:hover {
            appearance: transparent;
            background-color: #093258;
          }

          option {
            background-color: transparent;
            cursor: pointer;
          }
        }
      }

    }

    .header {
      margin-top: 50px;
      position: relative;

      .myName {
        position: absolute;
        width: 100%;
        font-size: 100px;
        font-weight: 600;
        opacity: 0.3;
        letter-spacing: 10px;
        cursor: default;
        font-style: italic;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: -1;
      }

      p:nth-of-type(1) {
        margin-top: 30px;
        margin-bottom: 0px;
      }

      p:nth-of-type(2) {
        margin-top: 0px;
        margin-bottom: 10px;
        justify-content: center;
        // transform: translateX(30%);
      }

      .about-section {
        transition: all 400ms;

        .background-animate {
          display: flex;
          justify-content: center;

          .myInformation {
            position: absolute;
            width: 280px;
            top: 30px;
            left: 30px;
            text-align: start;

            h1 {
              margin-bottom: 0px;
              margin-top: 0px;
              transform: translateX(-200px);
              opacity: 0;
              transition: all 700ms ease;

              &:nth-of-type(2) {
                height: 60px;
              }
            }

            .animate-text {
              margin-bottom: 0px;
              margin-top: 0px;
            }

            h1.slide-in {
              transform: translateX(0);
              opacity: 1;
            }

            .spanAnimat {
              opacity: 0;
              transform: translateY(10px);
            }

            .spanAnimat.show {
              opacity: 1;
              transform: translateY(0px);

            }

            p {
              opacity: 0;
              transform: translateX(-180px);
              transition: all 700ms ease;
            }

            p.slide-in {
              opacity: 1;
              transform: translateY(0px);
            }

          }

          .circle {
            position: absolute;
            left: 50%;
            transform: translateX(-50%) rotate(-280deg);
            top: 15px;
            width: 130px;
            height: 130px;
            border: 80px #051424 solid;
            border-right: transparent solid 80px;
            border-radius: 50%;
            transition: all 700ms ease;
            z-index: -1;

          }

          .circle.slide-in {
            width: 260px;
            height: 260px;
            transform: translateX(-50%) rotate(30deg);

          }

          .weatherDay {
            position: absolute;
            width: 200px;
            height: 200px;
            right: 260px;
            top: 240px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            z-index: 100;

            .weath {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 80px;
              height: 80px;
              border-radius: 15px;
              font-size: 17px;
              font-weight: 800;
              overflow: hidden;
              position: relative;

              i {
                position: absolute;
                top: -20px;
                left: -20px;
                opacity: 0.4;
                color: white;
                font-size: 105px;
                font-weight: 100;
                z-index: -1;
              }
            }

            .tempe {
              background: #a66901;
            }

            .wind {
              background-color: #aa0028;
            }

            .humidity {
              background-color: #081d32;
            }

            .local {
              background-color: #03101c;
              color: #fff;
              font-size: 15px;

              i {
                background-color: #f7063e;
              }

            }

            .tempe,
            .wind,
            .humidity,
            .local {
              transition: all 700ms;
              opacity: 0;
              transform: translateX(290px);
            }

            .tempe.show.slide-in,
            .wind.show.slide-in,
            .humidity.show.slide-in,
            .local.show.slide-in {
              opacity: 1;
              transform: translateX(0px);
            }

          }

          @mixin scrollBar() {
            &::-webkit-scrollbar {
              width: 0px;
              border-radius: 10px;
            }

            &::-webkit-scrollbar-track {
              background-color: #e4e5eb;
              border-radius: 20px;
            }

            &::-webkit-scrollbar-thumb {
              background: #081d32;
            }
          }

          .News {
            position: absolute;
            background: #081d32;
            color: #fff;
            border-radius: 20px;
            right: 50px;
            top: 20px;
            color: #081d32;
            padding: 5px;
            height: 220px;
            @include scrollBar();
            overflow-y: scroll;
            overflow-x: hidden;
            transition: all 700ms;
            transform: translateX(150px);
            opacity: 0;
            z-index: 999;


            .newItem {
              border-radius: 10px;
              padding: 0px 3px;
              width: 270px;
              height: fit-content;
              display: flex;
              align-items: center;
              gap: 10px;
              margin: 5px 0;

              .imageNews {

                img {
                  width: 50px;
                  height: 35px;
                }
              }

              .textNews {
                p {
                  color: #dedede;
                  font-size: 12px;
                  margin: 10px 0;
                  line-height: 1.6;
                  font-family: Arial, Helvetica, sans-serif;
                }

                .louding {
                  font-size: large;
                }
              }
            }
          }

          .News.show.slide-in {
            transform: translateX(0);
            opacity: 1;
          }

        }
      }


      .skills-section {
        transition: all 700ms;

        .circle-of-skills {

          position: absolute;
          top: -30px;
          left: 50%;
          transform: translateX(-50%);
          width: 290px;
          height: 290px;
          background-color: #051424;
          margin-top: 45px;
          border-radius: 50%;
          box-shadow: 110px 10px 140px #081d3220;
          z-index: 1;
          transition: all 700ms ease;

        }

        .circle-of-skills.show.slide-in {
          width: 390px;
          height: 390px;
        }

        .mySkills {

          .image-of-skills {
            position: absolute;
            background: linear-gradient(80deg, rgb(51, 100, 133), rgb(8, 29, 50));
            padding: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            left: 50%;
            transition: all 700ms;
            transform: translateX(-50%) translateY(10rem);
            z-index: -1;


            img {
              width: 50px;
              color: #e4e5eb;
              transition: all 300ms;
            }

            p {
              margin-top: 0;
            }

            &:first-child.show.slide-in {
              transform: translateY(330px) translateX(-250px);
              z-index: 1;
            }

            &:nth-child(2).show.slide-in {
              transform: translateY(225px) translateX(-310px);
              z-index: 1;
            }

            &:nth-child(3).show.slide-in {
              transform: translateY(100px) translateX(-310px);
              z-index: 1;
            }

            &:nth-child(4).show.slide-in {
              transform: translateY(-10px) translateX(-250px);
              z-index: 1;
            }

            &:nth-child(5).show.slide-in {
              transform: translateY(-10px) translateX(177px);
              z-index: 1;
            }

            &:nth-child(6).show.slide-in {
              transform: translateY(100px) translateX(240px);
              z-index: 1;
            }

            &:nth-child(7).show.slide-in {
              transform: translateY(225px) translateX(240px);
              z-index: 1;
            }

            &:nth-child(8).show.slide-in {
              transform: translateY(330px) translateX(177px);
              z-index: 1;
            }
          }

        }
      }

      .project-section {

        .circle-of-project {
          position: absolute;
          width: 290px;
          height: 290px;
          left: 50%;
          transform: translateX(-50%);
          top: 15px;
          background-color: #051424;
          border-radius: 50%;
          z-index: -1;
          transition: all 700ms ease;

        }

        .allProject {
          width: 100%;
          display: flex;
          justify-content: space-around;
          z-index: 88;

          .project {
            font-weight: 700;
            display: flex;
            align-items: center;
            gap: 20px;
            z-index: 995;
            transition: all 700ms ease;
            margin-top: 40px;

            .one {
              width: 270px;
              height: 130px;
              background-image: url(/Opera\ Snapshot_2023-07-07_190602_musical-griffin-83244e.netlify.app.png);
              background-size: cover;
              border-radius: 20px;
              margin-right: 100px;

              &::after {
                content: "In this dashbord you can see some of most famous germany cars, you can save & add to cart and see the previous cars & you can see all information & you can compare between them";
                position: absolute;
                left: 0;
                top: 7px;
                transition: opacity 300ms ease;
                width: 240px;
                opacity: 0;

              }

              &:hover {
                &::after {
                  left: 270px;
                  opacity: 1;
                }
              }

            }

            .two {
              width: 270px;
              height: 130px;
              background-image: url(/Opera\ Snapshot_2023-07-28_145551_127.0.0.1.png);
              background-size: contain;
              border-radius: 20px;

              &::after {
                content: "This website shows the skills animation and smooth transition with responsive in small screen with beautiful item & image";
                position: absolute;
                left: 0;
                top: 6px;
                width: 240px;
                transition: opacity 300ms ease;
                opacity: 0;
              }

              &:hover {
                &::after {
                  left: -240px;
                  opacity: 1;
                }
              }
            }


            &:nth-child(1) {
              transform: translateY(-400px);
              flex-direction: row-reverse;
            }

            &:nth-child(2) {
              transform: translateY(400px);
              opacity: 0;
            }

            &:nth-child(1).show.slide-in {
              transform: translateY(0px);
              opacity: 1;
            }

            &:nth-child(2).show.slide-in {
              transform: translateY(250px);
              opacity: 1;
            }


            .project-info {
              position: relative;
              display: flex;
              justify-content: space-around;
              align-items: center;
              z-index: -1;

              input {
                background-color: transparent;
                border: #fff solid 2px;
                border-radius: 20px;
                padding: 10px 20px;
                cursor: pointer;
                font-weight: 700;
                transition: all 500ms;
                z-index: 33;
                transform: translateY(50px);
                opacity: 0;

                &:hover {
                  border-color: #f79e06;
                  color: #f79e06;
                  background-color: #03051280;
                }
              }

              &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #05142480;
                left: 0;
                top: 0;
                z-index: -2;
                transition: display 300ms ease;
                display: none;
              }

              &:hover {
                &::before {
                  display: block;
                }

                input {
                  opacity: 1;
                  transform: translateY(0px);
                }
              }
            }

            .project-details {
              p {
                width: 240px;
              }
            }
          }
        }
      }

      .contact-me-section {

        .circle-contact {
          position: absolute;
          width: 290px;
          height: 290px;
          left: 50%;
          transform: translateX(-50%);
          top: 15px;
          background-color: #051424;
          border-radius: 50%;
          z-index: -1;
          transition: all 700ms ease;
        }

        .contact-information {
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-content: space-around;
          align-items: center;
          gap: 80px;
          z-index: 999;
          
          .contact-info {
            padding: 10px 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 999;
            transform: translateX(-80px);
            opacity: 0.2;
            transition: all 500ms ease;
            .contact-info-text {
              margin: 0 0 0 10px;
              width: 75%;
              h3 {
                margin-bottom: 0px;
              }
              p {
                color: #b9c6d4;
                margin-top: 10px;
              }
            }
            .contact-personnel {
              margin: 0 0 0 10px;
              z-index: 999;
              div {
                display: flex;
                align-items: baseline;
                gap: 20px;
              }
            }
            .contact-media {
              margin: 0 auto;
              display: flex;
              gap: 20px;
              margin-top: 50px;
              z-index: 999;
              a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                background-color: transparent;
                cursor: pointer;
                border-radius: 50%;
                transition: all 300ms ease;
                color: #fff;
              }
              .linkedin {
                &:hover {
                  background-color: #fff;
                  color: #0663b9;
                }
              }
              .twitter {
                &:hover {
                  background-color: #000;    
                }
              }
              .github {
                &:hover {
                  background-color: #aa37d8;
                  color: #fff;
                }
              }
            }
          }
          .show.slide-in {
            transform: translateX(0px);
            opacity: 1;
          }

          form {
            
            .recruter {
              margin-top: 10px;
              width: 90%;
              display: flex;
              flex-direction: column;
              color: #fff;
              transition: all 400ms ease-in-out;
              background-color: #4453a530;
              padding: 13px 20px;
              border-radius: 20px;
              z-index: 999;
              transform: translateX(80px);
              opacity: 0.2;

              h3 {
                margin: 5px auto 13px;
              }
            
              .recruter-desc {
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 999;
                input {
                  width: 90%;
                  transition: all 400ms ease;
                  padding: 10px;
                  font-size: 16px;
                  font-weight: 500;
                  background-color: #ffffff40;
                  border-radius: 9px;
                  border: none;
                  margin-bottom: 20px;
                  
                  &::placeholder {
                    color: #ffffff70;
                  }
                }
              } 
              #email {
                margin-bottom: 20px;
                background-color: #ffffff40;
                padding: 10px;
                border-radius: 9px;
                font-size: 18px;
                border: none;
                z-index: 999;
                &::placeholder {
                  color: #ffffff70;
                }
              }
              #message {
                background-color: #ffffff40;
                padding: 6px;
                border-radius: 6px;
                font-size: 17px;
                border: none;
                z-index: 999;
                &::placeholder {
                  color: #ffffff70;
                }
              }
              #btn-msg {
                margin-top: 10px;
                padding: 10px;
                border-radius: 7px;
                background-color: #09325890;
                z-index: 999;
                cursor: pointer;
                transition: all 200ms ease;
                font-size: 16px;
                font-weight: 600;
                &:hover {
                  background-color: #093258;
                }
              }
            }
            .show.slide-in {
              transform: translateX(0);
              opacity: 1;
            }
          }
        }
        
      }

      .myImage {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 280px;
        z-index: 99;
        transition: all 400ms;
        opacity: 0.8;
      }

    }

    .slid {
      width: 100%;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;

      button {
        position: absolute;
        padding: 10px;
        border-radius: 50%;
        background-color: #09325850;
        font-size: 26px;
        font-weight: 900;
        border: none;
        cursor: pointer;
        transition: all 400ms;

        &:hover {
          background-color: #093258;
        }
      }

      .slide-forward {
        right: -20px;
      }

      .slide-backward {
        left: -20px;
      }

    }

    .Arrow {
      color: #17ec25;
      position: absolute;
      bottom: -60px;
      left: 50%;
      transform: translateX(-50%);
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}

@media screen and (max-width: 960px) {
  .App {
    .container {
      .header {
        .myName {
          font-size: 70px;
        }

        .about-section {
          .background-animat {
            .myInformation {
              z-index: 888;

              h1 {
                font-size: 20px;
              }

              p {
                font-size: 14px;
                width: 160px;
                letter-spacing: 1px;

              }
            }

            .circle {
              top: 60px;
            }

            .circle.slide-in {
              width: 210px;
              height: 210px;
              border: 70px #051424 solid;
              border-right: transparent solid 70px;
            }

            .weatherDay {
              width: 160px;
              height: 160px;
              right: 130px;

              .weath {
                width: 70px;
                height: 70px;
                font-size: 14px;
              }
            }

            .News {
              .newItem {
                width: 190px;

                .imageNews {
                  img {
                    width: 40px;
                    height: 20;
                  }
                }
              }

            }
          }
        }

        .skills-section {
          .circle-of-skills {
            top: 10px;
            z-index: 2;
          }

          .circle-of-skills.show.slide-in {
            width: 270px;
            height: 270px;
          }

          .mySkills {
            z-index: 1;

            .image-of-skills {
              width: 40px;
              height: 40px;

              img {
                width: 40px;
              }

              &:first-child.show.slide-in {
                transform: translateX(-150px) translateY(310px);
              }

              &:nth-child(2).show.slide-in {
                transform: translateX(-200px) translateY(230px);
              }

              &:nth-child(3).show.slide-in {
                transform: translateX(-200px) translateY(110px);
              }

              &:nth-child(4).show.slide-in {
                transform: translateX(-150px) translateY(20px);
              }

              &:nth-child(5).show.slide-in {
                transform: translateX(90px) translateY(20px);
              }

              &:nth-child(6).show.slide-in {
                transform: translateX(140px) translateY(110px);
              }

              &:nth-child(7).show.slide-in {
                transform: translateX(140px) translateY(230px);
              }

              &:nth-child(8).show.slide-in {
                transform: translateX(100px) translateY(320px);
              }
            }
          }
        }

        .project-section {

          .circle-of-project {
            top: 55px;
          }

          .allProject {
            display: flex;
            justify-content: space-between;

            .project {
              display: block;

              .one {
                width: 230px;
                height: 100px;
              }

              .two {
                width: 230px;
                height: 100px;
              }

              &:nth-child(1) {
                transform: translateY(-300px);
              }

              &:nth-child(2) {
                transform: translateY(300px);
              }

              &:nth-child(1).show.slide-in {
                transform: translateY(0px);
              }

              &:nth-child(2).show.slide-in {
                transform: translateY(200px);
              }

              .project-info {
                input {
                  padding: 6px 14px;
                }
              }

              .project-details {
                p {
                  width: 230px;
                  font-size: 14px;
                }
              }
            }
          }
        }

        .myImage {
          top: 50px;
          width: 200px;
          opacity: 0.8;
          z-index: 3;
        }
      }
    }
  }
}


@media screen and (max-width: 700px) {
  .App {
    .container {
      .navBar {
        .bar {
          ul {
            &:first-of-type {
              display: none;
            }
          }
        }
      }

      .header {
        .myName {
          display: none;
        }

        .about-section {
          .background-animat {

            .weatherDay {
              width: 160px;
              height: 160px;
              right: 60px;
              top: 260px;

              .weath {
                width: 70px;
                height: 70px;
                font-size: 14px;
              }
            }

            .News {
              height: 220px;
              right: 30px;

              .newItem {
                width: 170px;

                .imageNews {
                  img {
                    width: 30px;
                    height: 20px;
                  }
                }
              }

            }
          }

        }

        .project-section {
          .allProject {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .project {
              top: 0;

              &:nth-child(2).show.slide-in {
                transform: translateY(160px);
                opacity: 1;
              }

              .one {
                margin-right: 0px;

                &:hover {
                  &::after {
                    top: 120px;
                    left: 0;

                  }
                }
              }

              .two {

                &:hover {
                  &::after {
                    top: -120px;
                    left: 0;

                  }
                }
              }


            }
          }
        }

        .contact-me-section {
          .contact-information {
            gap: 10px;
            .recruter {
              .recruter-desc {
                input {
                  font-size: 15px;
                  font-weight: 400;
                }
              }
              input {
                font-size: 15px;
                font-weight: 400;
              }
              textarea {
                font-size: 15px;
                font-weight: 400;
              }
            }
          }
        }

      }
    }
  }
}

@media screen and (max-width: 574px) {
  .App {
    .container {
      .header {
        .contact-me-section {
          .contact-information {
            .contact-info {
              .contact-media {
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .App {
    .container {
      .header {
        .about-section {
          .background-animat {

            .myInformation {
              left: 15px;

              p {
                transform: translateX(-110px);
              }
            }

            .circle {
              width: 100px;
              height: 100px;
              border: 40px #051424 solid;
              border-right: transparent solid 40px;
            }

            .circle.slide-in {
              width: 180px;
              height: 180px;
              border: 60px #051424 solid;
              border-right: transparent solid 60px;
              transform: translateX(-50%) rotate(-20deg);
            }

            .weatherDay {
              right: 10px;
              top: 110px;
              opacity: 0.9;
              width: 120px;
              height: 120px;

              .weath {
                font-size: 12px;
                width: 50px;
                height: 50px;
              }

              .tempe,
              .wind,
              .humidity,
              .local {
                transform: translateX(70px);
              }

              .tempe.show.slide-in,
              .wind.show.slide-in,
              .humidity.show.slide-in,
              .local.show.slide-in {
                transform: translateX(0px);
              }

              .local {
                font-size: 10px;
              }
            }

            .News {
              transform: translateY(290px) translateX(80px);
              opacity: 0;
              height: 100px;
              z-index: 666;

              .newItem {
                .textNews {
                  p {
                    color: #b9b9b9;
                  }
                }

              }
            }

            .News.show.slide-in {
              transform: translateY(290px) translateX(20px);
              opacity: 1;
            }
          }
        }

        .skills-section {

          .circle-of-skills {
            width: 200px;
            height: 200px;
            top: 50px;
            z-index: 0;
          }

          .circle-of-skills.show.slide-in {
            width: 270px;
            height: 270px;
          }

          .mySkills {

            .image-of-skills {
              width: 40px;
              height: 40px;

              img {
                width: 40px;
              }

              &:first-child.show.slide-in {
                transform: translateX(-120px) translateY(310px);
              }

              &:nth-child(2).show.slide-in {
                transform: translateX(-140px) translateY(230px);
              }

              &:nth-child(3).show.slide-in {
                transform: translateX(-140px) translateY(110px);
              }

              &:nth-child(4).show.slide-in {
                transform: translateX(-120px) translateY(20px);
              }

              &:nth-child(5).show.slide-in {
                transform: translateX(70px) translateY(20px);
              }

              &:nth-child(6).show.slide-in {
                transform: translateX(90px) translateY(110px);
              }

              &:nth-child(7).show.slide-in {
                transform: translateX(90px) translateY(230px);
              }

              &:nth-child(8).show.slide-in {
                transform: translateX(70px) translateY(320px);
              }
            }
          }
        }

        .project-section {
          .circle-of-project {
            width: 200px;
            height: 200px;
            top: 100px;
          }
        }

        .contact-me-section {
          .contact-information {
            display: flex;
            flex-direction: column-reverse;
            gap: 0;
            .contact-info {
              display: flex;
              justify-content: center;
              align-items: center;
              .contact-info-text {
                display: none;
              }

              .contact-personnel {
                display: none;
              }

              .contact-media {
                margin: 20px auto;
                padding: 10px 20px;
              }

            }
            form {
              .recruter {
                .recruter-desc {
                  flex-direction: row;
                  gap: 10px;
                  input {
                    font-size: 10px;
                    font-weight: 300;
                  }
                }
              }
            }
          }
        }

        .myImage {
          z-index: 1;
        }
      }
    }
  }
}